[Unit]
Description=PtokaX server
After=network.target

[Service]
ExecStart=/home/pi/MetaHub/PtokaX/PtokaX -c /home/pi/MetaHub/PtokaX/
User=root
Group=root

[Install]
WantedBy=multi-user.target
