[Unit]
Description="Checks for PI ip and displays it"
After=network.target

[Service]
User=root
WorkingDirectory=/root
ExecStart=/home/pi/MetaHub/systemd/ptokax-ip.sh
Restart=always

[Install]
WantedBy=multi-user.target
