[Unit]
Description=PtokaX server
After=network.target

[Service]
ExecStart=/home/pi/MetaHub/psm/systemd/ptokax-startup-service.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
